# Configuración de Servidor
PROJECT_NAME="Sistema Contable Peruano"
DEBUG=true
API_V1_STR="/api/v1"

# Base de Datos PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=josue
POSTGRES_PASSWORD=admin
POSTGRES_DB=sistemaContable

